footer {
  margin-top: 3rem;
  border-top: #a39c9c 2px solid;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #2b2c36;
}
div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  color: #a39c9c;
  margin-left: 2rem;
}

.icons {
  ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    padding: 0;
    margin-bottom: 2rem;
  }

  li {
    color: #a39c9c;
    font-size: 1.5rem;
    cursor: pointer;
    width: fit-content;
  }
}

.bi {
  font-size: small;
}
