.navbar.navbar-expand-lg.bg-body-tertiary {
  padding-top: 0%;
  padding-left: 2rem;
  padding-right: 2rem;
}
.container-fluid {
  background-color: #2b2c36;
  border-bottom: solid 5px #948e8e;
}

.nav-link {
  color: #948e8e;
}

.navbar-brand {
  color: white;
}

.navbar-toggler {
  color: #a39c9c;
}

.navbar-toggler-icon {
  color: #fff;
}
