.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2b2c36;
  color: white;
  margin: 1rem 2rem;
  border: 1px solid #6e6e6e;
  border-radius: 20px;
  padding: 1rem;
  gap: 1.5rem;
}

.card-body {
  flex-grow: 1;
  padding: 0;
  color: #c0bfbf;
}

.btn-delete {
  background-color: #dc3545;
  border: none;
  color: white;

  width: 45px;
  height: 45px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-shrink: 0;
}

.btn-delete:hover {
  background-color: darkred;
}

.bi-trash {
  font-size: 1.2rem;
}
