<div class="card">
  <div>
    <img
      src="https://down-br.img.susercontent.com/file/7b902f6a5316aa5e2bcbc7d343221cc0"
      alt="Imagem do Produto"
      width="85px"
      style="border-radius: 10px"
    />
  </div>

  <div class="card-body">
    <h5 class="card-title">{{ item.produto.nome }}</h5>
    <p class="card-text">Preço unitário: {{ item.produto.preco | currency : 'BRL' : 'R$' }}</p>
    <p class="card-text">Quantidade: {{ item.quantidade }}</p>
    <p class="card-text">
      <strong
        >Subtotal: {{ item.produto.preco * item.quantidade | currency : 'BRL' : 'R$' }}</strong
      >
    </p>
  </div>

  <button class="btn btn-delete" (click)="abrirModal()">
    <i class="bi bi-trash"></i>
  </button>
</div>

@if (mostrarModal) {
<app-modal-confirm
  titulo="Remover do Carrinho"
  [mensagem]="'Deseja remover ' + item.produto.nome + ' do carrinho?'"
  (confirmado)="confirmarRemocao()"
  (cancelado)="fecharModal()"
></app-modal-confirm>
}
