.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  justify-items: left;
  padding-left: 4rem;
  padding-right: 2rem;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.card.mb-3 {
  display: flex;
  flex-direction: row;
  background-color: #2b2c36;
  color: #ffff;
}

.card-text {
  color: #d1d1d1;
}

small {
  color: #948e8e;
}
