<div class="cards-container">
  @for(produto of primeirosProdutos; track $index){
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://down-br.img.susercontent.com/file/7b902f6a5316aa5e2bcbc7d343221cc0"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ produto.nome }}</h5>
          <p class="card-text">
            {{ produto.descricao }}
          </p>

          <p class="card-text"><small>Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  }
</div>
