div {
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}

a {
  color: #4476d3;
  text-decoration: none;
}

.nao-encontrado-container {
  padding: 40px;
  border-radius: 8px;
  max-width: 600px;
  margin: 125px auto;
}
